<div class="col-lg-3">

    <div class="cat_burger"><span></span><span></span><span></span></div>
    <div class="shop_sidebar">
        <div class="sidebar_section">
            <div class="cat_menu_text">Kullanıcı</div>
            <ul class="sidebar_categories">
                <li><a href="#">Bilgilerim</a></li>
                <li><a href="#">Düzenle</a></li>
                <li><a href="#">Siparişlerim</a></li>
                <li><a href="#">Sepetim</a></li>
                <li><a href="#">Favori Ürünlerim</a></li>
                <li><a href="#">Sipariş Geçmişi</a></li>
                <li><a href="#">Yorumlarım</a></li>
                <li><a href="{{ path('app_logout') }}">Çıkış</a></li>

            </ul>
        </div>
    </div>

</div>