{% extends 'adminbase.html.twig' %}

{% block title %}Kategori DETAYI{% endblock %}

{% block content %}

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h1>
                    KATEGORİ DETAYI

                </h1>

            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">

                        <small><a href="{{ path('admin_category_new') }}" class="btn btn-primary waves-effect" >Yeni Kategori Ekle</a> </small>



                    </div>

                    {{ include('admin/category/_form.html.twig', {'button_label': 'Update'}) }}

                    <a href="{{ path('admin_category_index') }}"class="btn btn-primary waves-effect">back to list</a>

                    {{ include('admin/category/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
        </div>

    </section>
{% endblock %}
